<!--The content below is only a placeholder and can be replaced.-->
<h1>M社様手書きサンプル</h1>

<div>
  <canvas #write
          (mousedown)="startMouse($event)"
          (mousemove)="moveMouse($event)"
          (mouseup)="endPoint()"
          (touchstart)="startTouch($event)"
          (touchmove)="moveTouch($event)"
          (touchend)="endPoint()"
          width="400"
          height="200"
  ></canvas>
</div>
<div>
  <button (click)="save()">保存</button><button (click)="clear()">クリア</button>
</div>
<div>
  <img src="{{src}}" alt="" *ngIf="src">
</div>
